$font-sizes: (
  'sm': 0.875rem,
  // 14px
  'md': 1rem,
  // 16px
  'xl': 1.5rem,
  // 24px
  'xl-logo': 1.25rem,
  // 20px
  'xxl': 2.875rem,
  // 46px
  'xxl-m': 2.25rem,
  // 36px
  'xxxl': 4.25rem,
  // 68px
  'xxxl-m': 4.6875rem, // 75px,
);

$white-color: #fff;
$white-color-70: #ffffffb2;
$black-color: #000;
$main-background-color: #f0f0f0;
$main-headline-color: #4e494a;
$main-subheadline-color: #40403f;
$main-text-color: #171111;
$btn-color: #771533;

$gradient-color-2: #aa0d0d;
